workflow.json
{
  "name": "Receipt Scanner — AI Extraction to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "content": "## ⚙️ SETUP — Read Before Activating\n\n**Step 1 — Credentials (click each node marked 🔑)**\n- Google Drive Trigger → Google Drive OAuth2 API\n- Download File → Google Drive OAuth2 API\n- Extract Text → Mistral Cloud API\n- Gemini Chat Model → Google Gemini (PaLM) API\n- Read Header Row → Google Drive OAuth2 API\n- Write Headers → Google Drive OAuth2 API\n- Append to Sheet → Google Sheets (Service Account or OAuth2)\n\n**Step 2 — Replace placeholder IDs**\n- Google Drive Trigger: select your \"Receipts\" folder\n- Read Header Row URL: replace YOUR_SPREADSHEET_ID\n- Write Headers URL: replace YOUR_SPREADSHEET_ID\n- Append to Sheet: paste your spreadsheet URL\n\n**Step 3 — Create your Google Sheet**\nLeave it completely blank — headers are managed automatically.\n\n**Step 4 — Activate the workflow** (toggle top-right)",
        "height": 380,
        "width": 500,
        "color": 4
      },
      "id": "setup-note-001",
      "name": "⚙️ Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [720, -480],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔑 Credentials Needed\n\n| Credential Type | Used By |\n|---|---|\n| **Google Drive OAuth2 API** | Drive Trigger, Download File, Read Header Row, Write Headers |\n| **Mistral Cloud API** | Extract Text (OCR) |\n| **Google Gemini (PaLM) API** | Gemini Chat Model (AI analysis) |\n| **Google Sheets (Service Account)** | Append to Sheet |\n\nSee README.md for full setup instructions.",
        "height": 220,
        "width": 420,
        "color": 6
      },
      "id": "creds-note-002",
      "name": "🔑 Credentials",
      "type": "n8n-nodes-base.stickyNote",
      "position": [720, -200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "e52edb2c-ff11-4c1e-9aba-32403d6b4ccc",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [1232, -256],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Your Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1440, -256],
      "id": "f339c38f-bd73-4d96-8153-cb2996f47f1a",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Your Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d54271b1-ca41-4f03-8057-f2a92486bbda",
      "name": "Extract Text",
      "type": "n8n-nodes-base.mistralAi",
      "position": [1648, -256],
      "typeVersion": 1,
      "credentials": {
        "mistralCloudApi": {
          "id": "",
          "name": "Your Mistral Cloud Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert at extracting structured data from receipts and invoices.\n\nReceipt content:\n{{ $json.pages[0].markdown }}\n\nExtract EVERY piece of information from this receipt and return it as a single flat or nested JSON object. Always include these base fields if present:\n- vendor (string): store, restaurant, or company name\n- date (string): purchase date in YYYY-MM-DD format\n- total (number): final total paid\n- subtotal (number): amount before tax\n- tax (number): tax amount\n- tip (number): tip amount\n- payment_method (string)\n- category (string): Food, Gas, Groceries, Office Supplies, Travel, Utilities, Medical, Entertainment, etc.\n- receipt_number (string)\n- address (string)\n- phone (string)\n\nADDITIONALLY, extract ALL type-specific fields you find. Examples:\n\nFor GAS receipts also include:\n- price_per_gallon (number)\n- gallons (number)\n- fuel_grade (string: Regular/Plus/Premium/Diesel)\n- odometer (number, if shown)\n- pump_number (string, if shown)\n\nFor RESTAURANT/FOOD receipts also include:\n- line_items: array of objects with name, qty, unit_price, total_price for each item\n- server (string, if shown)\n- table_number (string, if shown)\n\nFor GROCERY receipts also include:\n- line_items: array of objects with name, qty, unit_price, total_price for each item\n- savings (number, total discounts/coupons if shown)\n\nFor HOTEL receipts also include:\n- check_in (string, YYYY-MM-DD)\n- check_out (string, YYYY-MM-DD)\n- nights (number)\n- room_rate (number per night)\n- room_number (string)\n\nFor SERVICES/INVOICES also include:\n- invoice_number (string)\n- due_date (string, YYYY-MM-DD)\n- billed_to (string)\n- line_items: array of objects with description, qty, unit_price, total_price\n\nFor any other fields visible on the receipt that don't fit the above, include them with a sensible snake_case key name.\n\nRules:\n- Omit any field that is not present on the receipt — never include null or empty values\n- Return ONLY a raw JSON object, no markdown, no explanation, no code blocks\n- Numbers should be actual numbers, not strings",
        "options": {}
      },
      "id": "c5f6c3fe-c293-4119-9668-ae928e9fe78a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1856, -256],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1840, -48],
      "id": "a71c94e6-3932-4063-aac2-954964e37641",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Your Google Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response JSON\nlet raw = $json.output ?? '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw);\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) throw new Error('No JSON found in AI response: ' + raw.substring(0, 200));\nconst data = JSON.parse(jsonMatch[0]);\n\n// Format a single line item as a readable summary string\nfunction formatLineItem(item) {\n  const name = item.name || item.description || item.item || item.service || item.product || 'Item';\n  const qtyKey = Object.keys(item).find(k => /qty|quantity|count|gallons|gal|units|hrs|hours/.test(k.toLowerCase()));\n  const priceKey = Object.keys(item).find(k => /unit_?price|price_?per|rate|each|per_?gal|cost/.test(k.toLowerCase()));\n  const totalKey = Object.keys(item).find(k => /^total$|line_?total|item_?total|amount|extended/.test(k.toLowerCase()));\n  const parts = [name];\n  if (qtyKey && item[qtyKey] != null) parts.push(`x${item[qtyKey]}`);\n  if (priceKey && item[priceKey] != null) parts.push(`@ $${item[priceKey]}`);\n  if (totalKey && item[totalKey] != null) parts.push(`= $${item[totalKey]}`);\n  return parts.join(' ');\n}\n\n// Flatten — arrays of objects become a readable pipe-delimited summary string\nfunction flatten(obj, prefix = '') {\n  const result = {};\n  for (const [key, val] of Object.entries(obj)) {\n    if (val === null || val === undefined || val === '') continue;\n    const fullKey = prefix ? `${prefix}_${key}` : key;\n    if (Array.isArray(val)) {\n      if (val.length === 0) continue;\n      if (typeof val[0] === 'object' && val[0] !== null) {\n        result[fullKey] = val.map(formatLineItem).join(' | ');\n      } else {\n        result[fullKey] = val.join(' | ');\n      }\n    } else if (typeof val === 'object') {\n      Object.assign(result, flatten(val, fullKey));\n    } else {\n      result[fullKey] = val;\n    }\n  }\n  return result;\n}\n\n// Always output exactly one row per receipt\nreturn [{ json: flatten(data) }];"
      },
      "id": "babecf29-3a87-4ba4-a370-a191702ce032",
      "name": "Format Receipt Data",
      "type": "n8n-nodes-base.code",
      "position": [2144, -256],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/YOUR_SPREADSHEET_ID/values/Sheet1!1:1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "ef6e7116-0ac5-4de5-b65f-234b157c5108",
      "name": "Read Header Row",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2400, -256],
      "typeVersion": 4.2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Your Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing sheet headers from Sheets API GET response\nconst headerResponse = $input.item.json;\nconst existingHeaders = (headerResponse.values && headerResponse.values[0])\n  ? headerResponse.values[0].filter(h => h != null && h.toString().trim() !== '')\n  : [];\n\n// Get the flattened receipt data from Format Receipt Data\nconst receiptData = $('Format Receipt Data').item.json;\nconst receiptKeys = Object.keys(receiptData);\n\n// Find any fields that don't yet have a column in the sheet\nconst newKeys = receiptKeys.filter(k => !existingHeaders.includes(k));\nconst allHeaders = [...existingHeaders, ...newKeys];\n\nif (newKeys.length > 0) {\n  console.log('Adding new columns: ' + newKeys.join(', '));\n}\n\n// Pass receipt data through + _headers so Write Headers node can update row 1.\nreturn [{\n  json: {\n    ...receiptData,\n    _headers: JSON.stringify(allHeaders)\n  }\n}];"
      },
      "id": "34e80100-5de5-472b-91d3-8baaa9475232",
      "name": "Sync Columns",
      "type": "n8n-nodes-base.code",
      "position": [2640, -256],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/YOUR_SPREADSHEET_ID/values/Sheet1!1:1?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"values\": [JSON.parse($json._headers)]} }}",
        "options": {}
      },
      "id": "a24ad0d4-d208-40d7-a9f1-3a8d776bd2cb",
      "name": "Write Headers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2896, -256],
      "typeVersion": 4.2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Your Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Write Headers outputs the Sheets API response, not the receipt data.\n// Pull the receipt data back from Sync Columns and strip the internal _headers field.\nconst syncData = $('Sync Columns').item.json;\nconst { _headers, ...receiptData } = syncData;\nreturn [{ json: receiptData }];"
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890abcdef",
      "name": "Prepare Row Data",
      "type": "n8n-nodes-base.code",
      "position": [3040, -256],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3184, -256],
      "id": "5f036e32-a1e4-46fb-b1fc-cac4d4c22c31",
      "name": "Append to Sheet",
      "credentials": {
        "googleApi": {
          "id": "",
          "name": "Your Google Service Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Receipt Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Receipt Data": {
      "main": [
        [
          {
            "node": "Read Header Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Header Row": {
      "main": [
        [
          {
            "node": "Sync Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Columns": {
      "main": [
        [
          {
            "node": "Write Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Headers": {
      "main": [
        [
          {
            "node": "Prepare Row Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Row Data": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
