workflows/backfill-drive-folder.json
{"name": "Backfill Receipts from Drive Folder", "nodes": [{"parameters": {"httpMethod": "GET", "path": "backfill-receipts", "responseMode": "lastNode", "options": {}}, "id": "5f34a472-97b6-49c0-8ee4-71b98f7d10be", "name": "Run Manually", "type": "n8n-nodes-base.webhook", "position": [4368, 880], "typeVersion": 2, "webhookId": "backfill-receipts-hook"}, {"parameters": {"url": "https://www.googleapis.com/drive/v3/files?q='1DyQghC5mT-CkRnXYTVixTUMuM_GFWzuU'+in+parents+and+trashed=false&pageSize=500&fields=files(id,name,mimeType,createdTime)", "authentication": "predefinedCredentialType", "nodeCredentialType": "googleDriveOAuth2Api", "options": {}}, "id": "db94796f-083a-4f84-a282-d136b01d9d17", "name": "List Drive Files", "type": "n8n-nodes-base.httpRequest", "position": [4592, 880], "typeVersion": 4.2, "credentials": {"googleDriveOAuth2Api": {"id": "JQNjsgYJuio2qaG6", "name": "Google Drive account"}}}, {"parameters": {"operation": "download", "fileId": {"__rl": true, "value": "={{ $json.id }}", "mode": "id"}, "options": {}}, "id": "a35da201-f524-4199-9555-918ecb57ea84", "name": "Download File", "type": "n8n-nodes-base.googleDrive", "position": [4816, 880], "typeVersion": 3, "credentials": {"googleDriveOAuth2Api": {"id": "JQNjsgYJuio2qaG6", "name": "Google Drive account"}}}, {"parameters": {"options": {}}, "id": "0a1ec8b1-11ef-419f-9b18-8c060654f1bb", "name": "Extract Text", "type": "n8n-nodes-base.mistralAi", "position": [5024, 880], "typeVersion": 1, "credentials": {"mistralCloudApi": {"id": "t9zYysjuQXo2cELo", "name": "Mistral Cloud account"}}}, {"parameters": {"promptType": "define", "text": "=You are an expert at extracting structured data from receipts and invoices.\n\nReceipt content:\n{{ $json.pages[0].markdown }}\n\nExtract information from this document and return it as a JSON object with EXACTLY these fields.\n\nREQUIRED FIELDS (always include):\n- document_type (string): REQUIRED \u2014 \"receipt\" if proof of payment, \"invoice\" if a bill requesting payment\n- vendor (string): store, restaurant, or company name\n- date (string): purchase/invoice date in YYYY-MM-DD format\n- category (string): MUST be exactly one of: \"Food & Dining\", \"Groceries\", \"Gas & Fuel\", \"Office Supplies\", \"Travel & Lodging\", \"Utilities\", \"Medical & Health\", \"Entertainment\", \"Shopping\", \"Transportation\", \"Subscriptions\", \"Home & Garden\", \"Auto & Maintenance\", \"Personal Care\", \"Education\", \"Other\"\n- total (number): final total amount\n\nOPTIONAL FIELDS (include only if present on the document):\n- subtotal (number): amount before tax\n- tax (number): tax amount\n- tip (number): tip amount\n- payment_method (string): e.g. \"Visa ending 1234\", \"Cash\", \"Debit ending 5678\"\n- description (string): a detailed 1-line summary capturing ALL key details from the receipt. Pack in type-specific info:\n  - Gas: include gallons, price/gallon, fuel grade, pump #. Example: \"15.2 gal Regular @ $3.45/gal, Pump 13\"\n  - Restaurant: include party size, highlight dishes. Example: \"Dinner for 2 \u2014 burger, caesar salad, 2 iced teas\"\n  - Grocery: include item count and savings. Example: \"Weekly run \u2014 23 items, saved $4.50 with coupons\"\n  - Hotel: include nights, room rate, room #. Example: \"2-night stay, room 412 @ $159/night\"\n  - Auto: include services performed, mileage. Example: \"Oil change + tire rotation, 45,230 mi\"\n  - Subscription/Service: include plan name, period. Example: \"Annual subscription renewal\"\n  - Shopping: include key items bought. Example: \"Darth Vader face mask\"\n  This field is important \u2014 capture everything notable about the transaction.\n- items (string): if line items exist, format as a single readable string listing each item with its price. Examples:\n  - \"Milk $3.99 \u00b7 Bread $2.49 \u00b7 Eggs $4.99 \u00b7 Bananas $1.29\"\n  - \"Cheeseburger $12.99 \u00b7 Caesar Salad $9.99 \u00b7 Iced Tea $2.50\"\n  - \"Oil Change $39.99 \u00b7 Oil Filter $8.99 \u00b7 Labor $25.00\"\n  Use \" \u00b7 \" (space-middledot-space) as the separator between items. Include ALL line items on the receipt.\n- address (string): vendor street address, city, state ZIP\n- receipt_number (string): receipt or transaction number\n- invoice_number (string): for invoices only\n- due_date (string): for invoices only, YYYY-MM-DD format\n- billed_to (string): for invoices only, who is being billed\n\nRules:\n- document_type and category MUST always be included\n- category MUST be exactly one of the listed options \u2014 pick the best fit\n- description should be detailed and capture ALL key purchase details, not just the vendor name\n- items must be a single string with \" \u00b7 \" separators, never an array\n- Include EVERY line item from the receipt in the items field\n- Omit any optional field not found on the document \u2014 never return null or empty values\n- Return ONLY a raw JSON object \u2014 no markdown, no explanation, no code blocks\n- Numbers must be actual numbers, not strings", "options": {}}, "id": "374429eb-a95c-40ac-87cf-0207754e5ffc", "name": "AI Extract", "type": "@n8n/n8n-nodes-langchain.agent", "position": [5200, 880], "typeVersion": 2.2}, {"parameters": {"modelName": "models/gemini-flash-lite-latest", "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [5248, 1120], "id": "706e9a89-f398-4999-87fc-818db6d2c72b", "name": "Gemini Model", "credentials": {"googlePalmApi": {"id": "T6vrBWXANAVPKppK", "name": "Google Gemini(PaLM) Api account"}}}, {"parameters": {"jsCode": "// Process ALL items (not just first one)\nconst allItems = $input.all();\nconst results = [];\n\nconst VALID_CATEGORIES = [\n  'Food & Dining', 'Groceries', 'Gas & Fuel', 'Office Supplies',\n  'Travel & Lodging', 'Utilities', 'Medical & Health', 'Entertainment',\n  'Shopping', 'Transportation', 'Subscriptions', 'Home & Garden',\n  'Auto & Maintenance', 'Personal Care', 'Education', 'Other'\n];\n\nconst FIELD_MAP = {\n  'document_type': null,\n  'date': 'Date',\n  'vendor': 'Vendor',\n  'category': 'Category',\n  'total': 'Total',\n  'subtotal': 'Subtotal',\n  'tax': 'Tax',\n  'tip': 'Tip',\n  'payment_method': 'Payment Method',\n  'description': 'Description',\n  'items': 'Items',\n  'address': 'Address',\n  'receipt_number': 'Receipt #',\n  'invoice_number': 'Invoice #',\n  'due_date': 'Due Date',\n  'billed_to': 'Billed To'\n};\n\nfor (const item of allItems) {\n  try {\n    let raw = item.json.output ?? '';\n    if (typeof raw !== 'string') raw = JSON.stringify(raw);\n    raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n    const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n    if (!jsonMatch) {\n      console.log('No JSON found in AI response, skipping item');\n      continue;\n    }\n    const data = JSON.parse(jsonMatch[0]);\n\n    if (!data.category || !VALID_CATEGORIES.includes(data.category)) {\n      const cat = (data.category || '').toLowerCase();\n      const match = VALID_CATEGORIES.find(c => cat.includes(c.split(' ')[0].toLowerCase()));\n      data.category = match || 'Other';\n    }\n\n    if (Array.isArray(data.items)) {\n      data.items = data.items.map(item => {\n        if (typeof item === 'string') return item;\n        const name = item.name || item.description || item.item || 'Item';\n        const price = item.total_price || item.unit_price || item.price || item.amount;\n        return price != null ? `${name} $${price}` : name;\n      }).join(' \\u00b7 ');\n    } else if (data.line_items) {\n      const li = Array.isArray(data.line_items) ? data.line_items : [];\n      data.items = li.map(item => {\n        if (typeof item === 'string') return item;\n        const name = item.name || item.description || item.item || 'Item';\n        const price = item.total_price || item.unit_price || item.price || item.amount;\n        return price != null ? `${name} $${price}` : name;\n      }).join(' \\u00b7 ');\n      delete data.line_items;\n    }\n\n    const row = {};\n    row.document_type = data.document_type || 'receipt';\n    for (const [field, header] of Object.entries(FIELD_MAP)) {\n      if (!header) continue;\n      if (data[field] !== undefined && data[field] !== null && data[field] !== '') {\n        row[header] = data[field];\n      }\n    }\n    results.push({ json: row });\n  } catch (e) {\n    console.log('Error processing item: ' + e.message);\n  }\n}\n\nreturn results;"}, "id": "82f13f94-d72c-49f8-909c-86ca88cb6725", "name": "Format Data", "type": "n8n-nodes-base.code", "position": [5472, 880], "typeVersion": 2}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1JRaa4e33gdODnX3qK0B6Cs_3_e4UG5NTLPoeWpctVGU", "mode": "list", "cachedResultName": "Receipts", "cachedResultUrl": ""}, "sheetName": {"__rl": true, "value": "Receipts", "mode": "name"}, "columns": {"mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [], "schema": [{"id": "Date", "displayName": "Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Vendor", "displayName": "Vendor", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Category", "displayName": "Category", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Total", "displayName": "Total", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Subtotal", "displayName": "Subtotal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Tax", "displayName": "Tax", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Tip", "displayName": "Tip", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Payment Method", "displayName": "Payment Method", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Description", "displayName": "Description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Items", "displayName": "Items", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Address", "displayName": "Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Receipt #", "displayName": "Receipt #", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [5936, 784], "id": "43c80369-7fc9-4c6e-923a-d270fc9df07d", "name": "Append to Receipts", "credentials": {"googleSheetsOAuth2Api": {"id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "cond1", "leftValue": "={{ $json.document_type }}", "rightValue": "invoice", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "5fa35c40-5abd-4310-bf4b-8f6d5d032355", "name": "Receipt or Invoice?1", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [5696, 880]}, {"parameters": {"jsCode": "const { document_type, ...rest } = $input.item.json;\nconst data = { ...rest, 'Payment Status': 'Unpaid' };\nreturn [{ json: data }];"}, "id": "dc8899fc-b1a8-44ff-bc0c-77b903999ad2", "name": "Add Invoice Fields1", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5936, 976]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1JRaa4e33gdODnX3qK0B6Cs_3_e4UG5NTLPoeWpctVGU", "mode": "list", "cachedResultName": "Receipts", "cachedResultUrl": ""}, "sheetName": {"__rl": true, "value": "Invoices", "mode": "name"}, "columns": {"mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [], "schema": [{"id": "Date", "displayName": "Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Vendor", "displayName": "Vendor", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Category", "displayName": "Category", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Total", "displayName": "Total", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Subtotal", "displayName": "Subtotal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Tax", "displayName": "Tax", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Due Date", "displayName": "Due Date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Invoice #", "displayName": "Invoice #", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Payment Status", "displayName": "Payment Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Payment Method", "displayName": "Payment Method", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Description", "displayName": "Description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Items", "displayName": "Items", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Billed To", "displayName": "Billed To", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Address", "displayName": "Address", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": false}, "options": {}}, "id": "90e4ee2a-74b7-40d2-8730-9cdd7ba249d3", "name": "Append to Invoices1", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [6176, 976], "credentials": {"googleSheetsOAuth2Api": {"id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account"}}}, {"parameters": {"jsCode": "// The Drive API returns {files: [...]}\n// Split into individual items, filtering out Google Workspace files\n// (Sheets, Docs, etc.) that can't be downloaded as receipts\nconst files = $json.files || [];\nconst downloadable = files.filter(f => !f.mimeType.startsWith('application/vnd.google-apps.'));\nreturn downloadable.map(f => ({json: f}));"}, "id": "split-files-001", "name": "Split Files", "type": "n8n-nodes-base.code", "position": [4704, 880], "typeVersion": 2}], "connections": {"Run Manually": {"main": [[{"node": "List Drive Files", "type": "main", "index": 0}]]}, "List Drive Files": {"main": [[{"node": "Split Files", "type": "main", "index": 0}]]}, "Split Files": {"main": [[{"node": "Download File", "type": "main", "index": 0}]]}, "Download File": {"main": [[{"node": "Extract Text", "type": "main", "index": 0}]]}, "Extract Text": {"main": [[{"node": "AI Extract", "type": "main", "index": 0}]]}, "Gemini Model": {"ai_languageModel": [[{"node": "AI Extract", "type": "ai_languageModel", "index": 0}]]}, "AI Extract": {"main": [[{"node": "Format Data", "type": "main", "index": 0}]]}, "Format Data": {"main": [[{"node": "Receipt or Invoice?1", "type": "main", "index": 0}]]}, "Receipt or Invoice?1": {"main": [[{"node": "Add Invoice Fields1", "type": "main", "index": 0}], [{"node": "Append to Receipts", "type": "main", "index": 0}]]}, "Add Invoice Fields1": {"main": [[{"node": "Append to Invoices1", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}